<html>
  <head>
    <title>Omar Portfolio</title>
  </head>
  <body>
    <h1>Omar Faruk</h1>
    <div>
      <h2><u>Personal Details</u></h2>

      <ul>
        <li><b>Age</b>: 15</li>
        <li><b>Class</b>: 10</li>
        <li><b>Hobby</b>: Paly Cricket</li>
      </ul>

      <h2><u>Parent's Informartion</u></h2>
      <ul>
        <li><b>Father's Name</b>: Hedayet Sheikh</li>
        <li><b>Father's Occupation</b>: Employee</li>
        <li><b>Mother's Name</b>: Nasima AKter</li>
        <li><b>Mother's Occupation</b>: Employee</li>
      </ul>
    </div>
  </body>
</html>
